<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xust.lfh.pojo.StuCard">
    <select id="findStuCardByCid" parameterType="int" resultType="xust.lfh.pojo.StuCard">
        select * from relationship.stu_card
        where cid = #{cid}
    </select>

</mapper>